.root {
  height: 100vh;
  width: 100vw;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Inter;
}

input {
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  width: 20%;
  font-family: 'Open Sans', sans-serif;
}